Source: apio
Section: electronics
Priority: optional
Maintainer: Salvador E. Tropea <salvador@inti.gob.ar>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all,
               python3-setuptools,
               python3-semantic-version
Build-Depends-Indep: python3-pytest,
                     python3-click,
                     python3-jwt
Standards-Version: 3.9.7
Homepage: https://github.com/FPGAwars/apio

Package: apio
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python3-colorama, python3-jwt, scons (>= 3.0.1), python3-serial
Conflicts: apio-system (<< 1.1.0)
Recommends: apio-examples, apio-icestorm, apio-scons, apio-iverilog, apio-system
Description: Experimental open source micro-ecosystem for open FPGAs
 Based on platformio. Apio is a multiplatform toolbox, with static
 pre-built packages, project configuration tools and easy commands to
 verify, synthesize, simulate and upload your verilog designs.


