Source: apio-system
Section: electronics
Priority: optional
Maintainer: SET <set@ieee.org>
Build-Depends: debhelper (>= 9),
               libusb-1.0-0-dev,
               libftdi-dev
Homepage: https://github.com/FPGAwars/apio
Standards-Version: 3.9.5

Package: apio-system
Architecture: amd64
Depends: apio, ${shlibs:Depends}, ${misc:Depends}
Description: APIO helpers for USB tasks
 Provides the system tools for APIO.
 They include lsftdi to find all FT2232H chips and lsusb to list all
 USB devices.

